# Exercício

- Classifique cada coluna do dataset a seguir como nominal, ordinal, binária, discreta ou contínua, com base apenas na descrição do dicionário de dados
- Com auxílio do método de dataframes `describe`, confirme sua classificação anterior
- Remova colunas com valor constante
- Crie as seguintes listas Python com os nomes das colunas que encaixam na descrição sugerida pelo nome da lista
  - `colunas_categoricas_nao_ordenadas`
  - `colunas_categoricas_ordenadas`
  - `coluna_alvo`
  - `colunas_numericas`
- Com as listas criadas, transforme as colunas categóricas do dataframe em tipo `category`, tomando cuidado de considerar se são ordenadas ou não. Ou seja, as categóricas ordenadas devem ser criadas considerando a ordem natural de seus elementos.
- Crie uma única figura com os histogramas de todas as colunas numéricas

## O dataset

O dataset a ser utilizado é o *IBM HR Analytics Employee Attrition & Performance*, disponível no Kaggle. O dataset contém informações sobre funcionários de uma empresa fictícia, como idade, gênero, estado civil, nível de satisfação, entre outros. O objetivo é prever a probabilidade de um funcionário sair da empresa.

[Link do Kaggle](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/data)

Os termos *attrition* ("atrito") e *turnover* ("rotatividade") são frequentemente usados de forma intercambiável no contexto de recursos humanos e gestão de força de trabalho, mas eles se referem a conceitos ligeiramente diferentes em relação às mudanças no número e na composição dos empregados dentro de uma organização. Compreender a distinção entre esses dois é importante para analisar e relatar com precisão a dinâmica da força de trabalho.

### Atrito

Atrito refere-se à redução gradual de empregados por meio de circunstâncias naturais, como aposentadoria, demissão voluntária por motivos pessoais, ou a decisão de não substituir empregados que estão de saída. Atrito pode levar a uma diminuição no tamanho da força de trabalho, mas é caracterizado por sua natureza voluntária e muitas vezes incontrolável. Organizações podem permitir o atrito para reduzir o tamanho de sua força de trabalho sem recorrer a demissões, vendo isso como uma forma menos disruptiva de ajustar seus níveis de pessoal.

Em análises, quando você está analisando um conjunto de dados para atrito, você frequentemente olha para as razões por trás das saídas voluntárias e a taxa na qual estas ocorrem naturalmente ao longo do tempo. Taxas de atrito podem fornecer insights sobre a satisfação dos empregados e tendências de longo prazo da força de trabalho.

### Rotatividade

Rotatividade, por outro lado, engloba um escopo mais amplo de partidas de empregados, incluindo tanto renúncias voluntárias quanto demissões involuntárias (como demissões ou términos por justa causa). Porém, ocorre a substituição da força de trabalho. Rotatividade é uma medida de quantos empregados estão deixando a companhia por qualquer motivo. Uma alta taxa de rotatividade pode indicar problemas com satisfação no trabalho, cultura do local de trabalho, ou estabilidade organizacional, e frequentemente requer ação da gestão para endereçar as causas subjacentes.

Rotatividade é calculada dividindo o número de empregados que saem pelo número médio de empregados, geralmente em uma base anual, e expressando isso como uma porcentagem. Esta métrica é crucial para entender como as saídas de empregados, tanto voluntárias quanto involuntárias, afetam a capacidade da organização de manter uma força de trabalho estável e eficaz.

### Diferenças Chave

- **Natureza**: Atrito geralmente é voluntário e pode ser devido a fatores naturais ou incontroláveis, enquanto rotatividade inclui tanto saídas voluntárias quanto demissões involuntárias.
- **Implicações para Gestão**: Atrito pode ser parte de uma estratégia de ajuste natural da força de trabalho e nem sempre é negativo, enquanto alta rotatividade é frequentemente um sinal de problemas dentro da organização que precisam ser abordados.
- **Foco Estratégico**: Análise de atrito pode focar em entender tendências de longo prazo da força de trabalho e planejamento de aposentadoria, enquanto análise de rotatividade é frequentemente usada para identificar questões imediatas com satisfação de empregados, engajamento, ou práticas de gestão que podem estar impactando a retenção de staff.

Enquanto ambos atrito e rotatividade lidam com empregados deixando a organização, eles diferem em seu escopo e as implicações estratégicas para gerenciar e entender a dinâmica da força de trabalho. No seu conjunto de dados de empregados, distinguir entre atrito e rotatividade pode ajudar na customização de estratégias para planejamento da força de trabalho, retenção e desenvolvimento organizacional.

|    | Name                       | Description                                                                                                                                                    |
|---:|:---------------------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 | Age                        | Numerical Value **- Quantitativo discretas**                                                                                                                                                |
|  1 | Attrition                  | Employee leaving the company - Text - No, Yes - **Nominal binária/Alvo de estudo**                                                                                                 |
|  2 | BusinessTravel            | Text - Non-Travel, Travel_Frequently, Travel_Rarely **- Nominal/ policotômica**                                                                       |
|  3 | DailyRate                 | Numerical Value - Salary Level **- Numérica contínua**                                                                                                                                |
|  4 | Department                 | Text - Sales, Research & Development, Human Resources   **- Nominal policotômica**                                                                                                      |
|  5 | DistanceFromHome         | Numerical Value - the distance from work to home in miles **-Numérico contínua**
|  6 | Education                  | Numerical Value - 1=Below college, 2=College, 3=Bachelor, 4=Master, 5=PhD  **- Qualitativo ordinal** |
|  7 | EducationField            | Text - Life Sciences, Medical, Marketing, Techincal Degree, Human Resources, Other **- Nominal  policotômicas**                                                                                   |
|  8 | EmployeeCount             | Numerical Value - 1 **-  Qualitativo  constante**                                                                                                                                            |
|  9 | EmployeeNumber            | Numerical Value - Employee ID - **coluna será descartada**                                                                                                                                 |
| 10 | EnvironmentSatisfaction    | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High - Qualitativo politocômico |
| 11 | Gender                     | Text - Female, Male **- Nominal Binário**                                                                                                                                          |
| 12 | HourlyRate                | Numerical Value - Hourly Salary **coluna será descartada****-Contínua**                                                                                                                           |
| 13 | JobInvolvement            | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High -  Qualitativo policotômico **- Ordinal**                                                                                                        |
| 14 | JobLevel                  | Numerical Value - 1, 2, 3, 4, 5. Means different job levels  **- Ordinal**                                               |
| 15 | JobRole                   | Text - Sales Executive, Research Scientist, Laboratory Technician, Manufacturing Director, Healthcare Representative, Manager, Sales Representative, Research Director, Human Resources - Qualitativo policotômico **-Nominal**|
| 16 | JobSatisfaction           | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High **-Ordinal**                                                                                                        |
| 17 | MaritalStatus             | Text - Single, Married, Divorced **-Nominal policotômica**                                                                                                                                    |
| 18 | MonthlyIncome             | Numerical Value - Monthly Salary **- Quantitativo conitínua**                                                                                                                              |
| 19 | MonthlyRate                | Numerical Value - Monthly Rate **- Quantitativo conitínua**                                                                                                                                 |
| 20 | NumCompaniesWorked        | Numerical Value - Number of companies worked at **- Quantitativo discreta**                                                                                                               |
| 21 | Over18                    | Text - **coluna será descartada**Y                                                                                                                                                    |
| 22 | Overtime                   | Text - No, Yes **- Nominal/binário**                                                                                                                                                   |
| 23 | PercentSalaryHike        | Numerical Value - Percentage increase in salary **- Quantitativo contínuas**                                                                                                               |
| 24 | PerformanceRating         | Numerical Value - 1=Low, 2=Good, 3=Excellent, 4=Outstanding **- Ordinal**                                                                                                    |
| 25 | RelationshipSatisfaction  | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High **- Ordinal**                                                                                                          |
| 26 | StandardHours             | Numerical Value - 80  **-coluna será descartada**                                                                                                                                       |
| 27 | StockOptionsLevel        | Numerical Value - 0, 1, 2, 3 **- Ordinal**                                                                                                                                  |
| 28 | TotalWorkingYears        | Numerical Value - Total years worked **-Contínua**                                                                                                                          |
| 29 | TrainingTimesLastYear   | Numerical Value - How many times the employee has been trained last year **- Discreto**                             |
| 30 | WorkLifeBalance          | Numerical Value - 1=Bad, 2=Good, 3=Better, 4=Best **- Ordinal**                                                                                                              |
| 31 | YearsAtCompany           | Numerical Value - Number of years at the company **- Quantitativo discreto/continuo**                                                                                                              |
| 32 | YearsInCurrentRole      | Numerical Value -Number of years in current role **- Quantitativo discreto/continuo**                                                                                                               |
| 33 | YearsSinceLastPromotion | Numerical Value - Years since last promotion **- Quantitativo discreto/continuo**                                                                                                                    |
| 34 | YearsWithCurrManager | Numerical Value - Years with current manager **- Quantitativo discreto/continuo**                                                                                                                  |

## Código

In [11]:
import pandas as pd
import os
print("Diretório atual do notebook:", os.getcwd())  # Mostra onde o notebook está executando

Diretório atual do notebook: c:\Users\ACER\Documents\Repositorios Github\Ciencia de dados\Estatistica\1.Conceitos fundamentais- estatistica\notebooks

In [17]:


DADOS = "../../base_de_dados/employee_attrition.csv"
#DADOS_TRIAGEM =  "../dados/triagem_medica.csv"
df = pd.read_csv(DADOS)

df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [20]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000